In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# Raw data file
file_to_load = "train_test.csv"

# Read purchasing file and store into pandas data frame
df= pd.read_csv(file_to_load)
df.head()

/Users/kalaimano/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,age,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,orientation,religion,sex,smokes,status,class
0,22,curvy,anything,rarely,drugs_no,noansweredu,asian,75.0,29592,transportation,straight,religious,m,rarely,single,3.0
1,35,average,anything,rarely,drugs_yes,college/university,white,70.0,48630,hospitality / travel,straight,religious,m,no,single,3.0
2,38,skinny,anything,rarely,noanswerdrugs,masters program,noanswerethnicity,68.0,60812,noanswerjob,straight,religious,m,no,available,5.0
3,23,skinny,vegetarian,rarely,noanswerdrugs,noansweredu,white,71.0,18578,student,straight,religious,m,no,single,3.0
4,29,athletic,noanswerdiet,rarely,drugs_no,college/university,asian,66.0,94691,artistic / musical / writer,straight,religious,m,no,single,6.0

In [26]:
df0 = df.loc[df['class']== 0.0]

In [27]:
df0=df0[df['class'] == 0.0].sample(n=5)
df0

/var/folders/ng/g2rw737s09b_hmsyrmqzpq300000gn/T/ipykernel_31906/737735195.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df0=df0[df['class'] == 0.0].sample(n=5)

,age,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,orientation,religion,sex,smokes,status,class
54579,32,curvy,anything,rarely,noanswerdrugs,college/university,white,68.0,73731,noanswerjob,bisexual,religious,f,no,single,0.0
37696,31,noanswerbodytype,anything,rarely,drugs_no,masters program,asian,70.0,67094,education / academia,gay,religious,m,no,seeing someone,0.0
10055,30,athletic,anything,rarely,drugs_yes,masters program,white,75.0,105468,science / tech / engineering,straight,atheist,m,no,single,0.0
49545,28,curvy,noanswerdiet,rarely,noanswerdrugs,college/university,asian,71.0,104393,noanswerjob,gay,religious,m,no,single,0.0
2788,30,skinny,anything,rarely,drugs_no,noansweredu,white,74.0,131554,computer / hardware / software,gay,religious,m,no,single,0.0

In [28]:
df1=df[df['class'] == 1.0].sample(n=5)
df1

,age,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,orientation,religion,sex,smokes,status,class
5443,27,athletic,anything,rarely,noanswerdrugs,college/university,white,70.0,354485,medicine / health,straight,religious,m,no,single,1.0
29208,35,average,anything,rarely,rarely,masters program,asian,72.0,253283,medicine / health,straight,atheist,m,yes,single,1.0
55291,24,curvy,noanswerdiet,drinks_no,drugs_no,noansweredu,black,65.0,37896,noanswerjob,straight,religious,f,no,single,1.0
59574,24,skinny,anything,rarely,drugs_no,college/university,noanswerethnicity,72.0,132701,noanswerjob,straight,religious,m,no,single,1.0
17699,41,athletic,anything,rarely,drugs_no,college/university,hispanic-latin,71.0,297731,medicine / health,straight,religious,m,no,single,1.0

In [29]:
df2=df[df['class'] == 2.0].sample(n=5)
df2

,age,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,orientation,religion,sex,smokes,status,class
10877,47,overweight,vegetarian,rarely,drugs_no,college/university,white,66.0,28895,noanswerjob,straight,religious,f,no,single,2.0
8830,55,noanswerbodytype,anything,rarely,drugs_no,college/university,white,66.0,35544,education / academia,straight,religious,f,no,single,2.0
56457,31,skinny,noanswerdiet,rarely,drugs_no,noansweredu,asian,63.0,111836,noanswerjob,straight,religious,f,no,single,2.0
56073,36,fit,noanswerdiet,rarely,drugs_yes,college/university,noanswerethnicity,69.0,115424,noanswerjob,straight,religious,m,no,married,2.0
33383,42,fit,noanswerdiet,rarely,drugs_no,college/university,white,67.0,30085,sales / marketing / biz dev,straight,religious,f,no,single,2.0

In [31]:
df3=df[df['class'] == 3.0].sample(n=5)
df3

,age,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,orientation,religion,sex,smokes,status,class
14144,27,fit,anything,rarely,drugs_no,noansweredu,white,68.0,25966,student,straight,religious,m,no,seeing someone,3.0
54889,58,average,anything,rarely,drugs_no,college/university,white,69.0,45135,construction / craftsmanship,straight,religious,m,no,single,3.0
48281,22,average,anything,rarely,noanswerdrugs,noansweredu,noanswerethnicity,65.0,28869,student,straight,religious,m,no,single,3.0
6834,23,noanswerbodytype,vegetarian,rarely,drugs_no,noansweredu,white,70.0,38405,transportation,bisexual,religious,f,no,single,3.0
31553,33,average,anything,rarely,noanswerdrugs,noansweredu,asian,71.0,79308,law / legal services,gay,atheist,m,noanswersmokes,single,3.0

In [33]:
df4=df[df['class'] == 4.0].sample(n=5)
df4

,age,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,orientation,religion,sex,smokes,status,class
31504,33,average,vegetarian,rarely,noanswerdrugs,college/university,noanswerethnicity,66.0,74617,noanswerjob,straight,religious,f,no,single,4.0
2892,23,skinny,anything,rarely,drugs_yes,noansweredu,noanswerethnicity,63.0,68404,sales / marketing / biz dev,straight,religious,f,no,single,4.0
1057,26,athletic,anything,rarely,drugs_no,noansweredu,hispanic-latin,63.0,25447,student,straight,religious,f,no,single,4.0
9116,19,average,anything,rarely,drugs_no,noansweredu,white,66.0,80979,noanswerjob,gay,religious,f,no,single,4.0
40454,26,overweight,noanswerdiet,drinks socially,noanswerdrugs,noansweredu,noanswerethnicity,64.0,183822,noanswerjob,straight,agnostic,f,no,single,4.0

In [34]:
df5=df[df['class'] == 5.0].sample(n=5)
df5

,age,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,orientation,religion,sex,smokes,status,class
10074,45,average,noanswerdiet,rarely,drugs_no,college/university,white,70.0,169378,noanswerjob,gay,religious,m,no,single,5.0
33047,41,average,anything,rarely,drugs_no,law school,white,72.0,68661,law / legal services,straight,religious,m,no,single,5.0
14832,45,fit,noanswerdiet,rarely,drugs_no,masters program,white,68.0,42432,entertainment / media,straight,religious,m,no,single,5.0
53049,55,athletic,anything,rarely,drugs_no,college/university,white,64.0,90366,transportation,straight,religious,f,no,single,5.0
41698,30,fit,noanswerdiet,rarely,noanswerdrugs,high school,white,70.0,30811,construction / craftsmanship,straight,atheist,m,no,single,5.0

In [35]:
df6=df[df['class'] == 6.0].sample(n=5)
df6

,age,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,orientation,religion,sex,smokes,status,class
57583,28,fit,anything,rarely,noanswerdrugs,med school,white,67.0,284902,medicine / health,straight,religious,m,no,single,6.0
15174,35,curvy,anything,rarely,noanswerdrugs,masters program,white,62.0,133520,executive / management,bisexual,religious,f,no,single,6.0
42144,36,curvy,vegetarian,rarely,drugs_yes,college/university,white,65.0,52991,artistic / musical / writer,straight,religious,f,no,single,6.0
48851,58,fit,anything,rarely,drugs_no,college/university,white,62.0,92685,noanswerjob,straight,agnostic,f,no,single,6.0
7896,31,curvy,anything,rarely,drugs_no,college/university,white,66.0,141684,entertainment / media,straight,religious,f,no,single,6.0

In [38]:
df0=pd.DataFrame(df0)
df1=pd.DataFrame(df1)
df2=pd.DataFrame(df2)
df3=pd.DataFrame(df3)
df4=pd.DataFrame(df4)
df5=pd.DataFrame(df5)
df6=pd.DataFrame(df6)

In [40]:
results_df=pd.concat([df0,df1, df2, df3, df4, df5, df6])
results_df

,age,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,orientation,religion,sex,smokes,status,class
54579,32,curvy,anything,rarely,noanswerdrugs,college/university,white,68.0,73731,noanswerjob,bisexual,religious,f,no,single,0.0
37696,31,noanswerbodytype,anything,rarely,drugs_no,masters program,asian,70.0,67094,education / academia,gay,religious,m,no,seeing someone,0.0
10055,30,athletic,anything,rarely,drugs_yes,masters program,white,75.0,105468,science / tech / engineering,straight,atheist,m,no,single,0.0
49545,28,curvy,noanswerdiet,rarely,noanswerdrugs,college/university,asian,71.0,104393,noanswerjob,gay,religious,m,no,single,0.0
2788,30,skinny,anything,rarely,drugs_no,noansweredu,white,74.0,131554,computer / hardware / software,gay,religious,m,no,single,0.0
5443,27,athletic,anything,rarely,noanswerdrugs,college/university,white,70.0,354485,medicine / health,straight,religious,m,no,single,1.0
29208,35,average,anything,rarely,rarely,masters program,asian,72.0,253283,medicine / health,straight,atheist,m,yes,single,1.0
55291,24,curvy,noanswerdiet,drinks_no,drugs_no,noansweredu,black,65.0,37896,noanswerjob,straight,religious,f,no,single,1.0
59574,24,skinny,anything,rarely,drugs_no,college/university,noanswerethnicity,72.0,132701,noanswerjob,straight,religious,m,no,single,1.0
17699,41,athletic,anything,rarely,drugs_no,college/university,hispanic-latin,71.0,297731,medicine / health,straight,religious,m,no,single,1.0
10877,47,overweight,vegetarian,rarely,drugs_no,college/university,white,66.0,28895,noanswerjob,straight,religious,f,no,single,2.0
8830,55,noanswerbodytype,anything,rarely,drugs_no,college/university,white,66.0,35544,education / academia,straight,religious,f,no,single,2.0
56457,31,skinny,noanswerdiet,rarely,drugs_no,noansweredu,asian,63.0,111836,noanswerjob,straight,religious,f,no,single,2.0
56073,36,fit,noanswerdiet,rarely,drugs_yes,college/university,noanswerethnicity,69.0,115424,noanswerjob,straight,religious,m,no,married,2.0
33383,42,fit,noanswerdiet,rarely,drugs_no,college/university,white,67.0,30085,sales / marketing / biz dev,straight,religious,f,no,single,2.0
14144,27,fit,anything,rarely,drugs_no,noansweredu,white,68.0,25966,student,straight,religious,m,no,seeing someone,3.0
54889,58,average,anything,rarely,drugs_no,college/university,white,69.0,45135,construction / craftsmanship,straight,religious,m,no,single,3.0
48281,22,average,anything,rarely,noanswerdrugs,noansweredu,noanswerethnicity,65.0,28869,student,straight,religious,m,no,single,3.0
6834,23,noanswerbodytype,vegetarian,rarely,drugs_no,noansweredu,white,70.0,38405,transportation,bisexual,religious,f,no,single,3.0
31553,33,average,anything,rarely,noanswerdrugs,noansweredu,asian,71.0,79308,law / legal services,gay,atheist,m,noanswersmokes,single,3.0
31504,33,average,vegetarian,rarely,noanswerdrugs,college/university,noanswerethnicity,66.0,74617,noanswerjob,straight,religious,f,no,single,4.0
2892,23,skinny,anything,rarely,drugs_yes,noansweredu,noanswerethnicity,63.0,68404,sales / marketing / biz dev,straight,religious,f,no,single,4.0
1057,26,athletic,anything,rarely,drugs_no,noansweredu,hispanic-latin,63.0,25447,student,straight,religious,f,no,single,4.0
9116,19,average,anything,rarely,drugs_no,noansweredu,white,66.0,80979,noanswerjob,gay,religious,f,no,single,4.0
40454,26,overweight,noanswerdiet,drinks socially,noanswerdrugs,noansweredu,noanswerethnicity,64.0,183822,noanswerjob,straight,agnostic,f,no,single,4.0
10074,45,average,noanswerdiet,rarely,drugs_no,college/university,white,70.0,169378,noanswerjob,gay,religious,m,no,single,5.0
33047,41,average,anything,rarely,drugs_no,law school,white,72.0,68661,law / legal services,straight,religious,m,no,single,5.0
14832,45,fit,noanswerdiet,rarely,drugs_no,masters program,white,68.0,42432,entertainment / media,straight,religious,m,no,single,5.0
53049,55,athletic,anything,rarely,drugs_no,college/university,white,64.0,90366,transportation,straight,religious,f,no,single,5.0
41698,30,fit,noanswerdiet,rarely,noanswerdrugs,high school,white,70.0,30811,construction / craftsmanship,straight,atheist,m,no,single,5.0
57583,28,fit,anything,rarely,noanswerdrugs,med school,white,67.0,284902,medicine / health,straight,religious,m,no,single,6.0
15174,35,curvy,anything,rarely,noanswerdrugs,masters program,white,62.0,133520,executive / management,bisexual,religious,f,no,single,6.0
42144,36,curvy,vegetarian,rarely,drugs_yes,college/university,white,65.0,52991,artistic / musical / writer,straight,religious,f,no,single,6.0
48851,58,fit,anything,rarely,drugs_no,college/university,white,62.0,92685,noanswerjob,straight,agnostic,f,no,single,6.0
7896,31,curvy,anything,rarely,drugs_no,college/university,white,66.0,141684,entertainment / media,straight,religious,f,no,single,6.0

In [44]:
return_dict= results_df[results_df['class']== 4.0].to_dict(orient="records")
return_dict

[{'age': 33,
  'body_type': 'average',
  'diet': 'vegetarian',
  'drinks': 'rarely',
  'drugs': 'noanswerdrugs',
  'education': 'college/university',
  'ethnicity': 'noanswerethnicity',
  'height': 66.0,
  'income': 74617,
  'job': 'noanswerjob',
  'orientation': 'straight',
  'religion': 'religious',
  'sex': 'f',
  'smokes': 'no',
  'status': 'single',
  'class': 4.0},
 {'age': 23,
  'body_type': 'skinny',
  'diet': 'anything',
  'drinks': 'rarely',
  'drugs': 'drugs_yes',
  'education': 'noansweredu',
  'ethnicity': 'noanswerethnicity',
  'height': 63.0,
  'income': 68404,
  'job': 'sales / marketing / biz dev',
  'orientation': 'straight',
  'religion': 'religious',
  'sex': 'f',
  'smokes': 'no',
  'status': 'single',
  'class': 4.0},
 {'age': 26,
  'body_type': 'athletic',
  'diet': 'anything',
  'drinks': 'rarely',
  'drugs': 'drugs_no',
  'education': 'noansweredu',
  'ethnicity': 'hispanic-latin',
  'height': 63.0,
  'income': 25447,
  'job': 'student',
  'orientation': 'straight',
  'religion': 'religious',
  'sex': 'f',
  'smokes': 'no',
  'status': 'single',
  'class': 4.0},
 {'age': 19,
  'body_type': 'average',
  'diet': 'anything',
  'drinks': 'rarely',
  'drugs': 'drugs_no',
  'education': 'noansweredu',
  'ethnicity': 'white',
  'height': 66.0,
  'income': 80979,
  'job': 'noanswerjob',
  'orientation': 'gay',
  'religion': 'religious',
  'sex': 'f',
  'smokes': 'no',
  'status': 'single',
  'class': 4.0},
 {'age': 26,
  'body_type': 'overweight',
  'diet': 'noanswerdiet',
  'drinks': 'drinks socially',
  'drugs': 'noanswerdrugs',
  'education': 'noansweredu',
  'ethnicity': 'noanswerethnicity',
  'height': '64.0',
  'income': 183822,
  'job': 'noanswerjob',
  'orientation': 'straight',
  'religion': 'agnostic',
  'sex': 'f',
  'smokes': 'no',
  'status': 'single',
  'class': 4.0}]

In [42]:
# Saving for webpage
from pathlib import Path
file_path = Path("results_df.csv")
results_df.to_csv(file_path, index=False)